@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

form {
    /* display: flex; 
    flex-direction: row;
    flex-wrap: wrap; */
    width: 20vw;
  }

/* input, select {
    display: block;
} */

.form-group {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-family: 'Limelight', cursive;
}